<div class="container p-">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h2>Inicar sesion</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-text-top mx-auto">LNL Product Manager</h3>
                    <form action="/signin" method="post">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="form-froup">
                            <button class="btn btn-success btn-block">
                                Entrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>